<div id="main_body">
<h1>New Sales Lead</h1>
<% if @customer %>
  <%= render 'form_new' %>
<% else %>
  <%= render 'form_new_without_customer' %>
<% end %>

<%= link_to 'Back', SUBURI + "/authentify/view_handler?index=0" %>
</div>
