<div id="main_body">
<h4><%= t('Customer Comm Records') %></h4>
<div class="pigination"><%= will_paginate @customer_comm_records %></div>
  <%= render inline: ERB.new(@erb_code).result(binding) %>

  <%#= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action'] %>

</div>
