<h1>CustomerCommRecords#index</h1>
<p>Find me in app/views/customerx/customer_comm_records/index.html.erb</p>
<li><%= link_to 'New Customer Comm Record', SUBURI + "/authentify/view_handler?index=1&url=#{customerx.new_customer_comm_record_path}" %></li>	
