<div id='main_body'>

<% if @for_which == 'customer_status' %>
  <%= render 'index_customer_status' %>
<% elsif @for_which == 'customer_comm_category' %>
  <%= render 'index_comm_category' %>
<% elsif @for_which == 'customer_qs' %>
  <%= render 'index_qs' %>
<% elsif @for_which == 'sales_lead_source' %>
  <%= render 'index_sales_lead_source' %>
<% end %>
 
</div>
